/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
    background: #fff ;		
    font-family: 'Exo', sans-serif;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
    margin:0;	
}
.header-top{
    background:#fb5e33;
}
.header-top-in{
    padding: 1.5em 1em;
}

.header-in ul li a:hover{
    color: #9fdcda;
}
.cart{
    vertical-align: middle;
    display: inline-block;
    position:relative;
}
a.cart-in{
    width: 37px;
    height: 37px;
    background: url(../images/img-sprite.png)no-repeat -7px -57px ;
    display:block;
    text-decoration:none;
}
.cart span{
    background: #f8390d;
    border-radius: 100px;
    color: #fff;
    font-size: 0.7em;
    width: 20px;
    height: 20px;
    display: block;
    top: -5px;
    right: -8px;
    position: absolute;
    text-align: center;
    border: 1px solid #E73737;
    padding: 2px 0 0;
}
.h_menu4 {
    padding: 0 1em;
}
/*---*/
.header-bottom{
    width: 100%;
    height: 71px;
    background: url(../images/back1.png) bottom ;
    display:block;
}
/*----*/
.header-bottom-in{
    width: 100%;
    height: 63px;
    background: url(../images/back2.png)0px 0px ;
    display:block;
}
.header-bottom-on {
    padding: 1.3em 1em 0;
}

/*----*/
/* start icon styles */
.sub-icon1 h3{
    font-size:1.3em;
    padding:0 0 0.5em;
    color:#f95a32;
}
.icon1:before,.icon1:after {
    content: "";
    display: table;
}
.icon1:after {
    clear: both;
}
ul.icon1{
    float:right;
    zoom: 1;
    list-style: none;
    padding: 0;
    margin-left:0;
}
.icon1 li {
    float: left;
    position: relative;
}
.icon1 li:last-child{
    border-right:none;
}
.icon1 li:hover > a {
    color: #fafafa;
}
*html .icon1 li a:hover { /* IE6 only */
    color: #fafafa;
}
.icon1 ul {
    width:250px;
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top:70px;
    z-index: 1;
    right: -100px;
    background: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding:1em;
}
.icon1 li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    z-index: 9999;
}
.icon1 ul ul {
    top: 6px;
    left: 158px;
    margin: 0 0 0 20px;
}
.icon1 ul li {
    /*--float: none;--*/
    display: block;
    border: 0;
}
.icon1 ul li:first-child{
    border-top:none;
}
.icon1 ul li:first-child a{
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
}
.icon1 ul li:last-child {   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}
.icon1 ul a {    
    _height: 10px; /*IE6 only*/
    white-space: nowrap;
    float: none;
    text-transform: none;
}
.active-icon{
    display: block;
}
.icon1 ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 45%;
    top: -30px;
    border-left: 10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #f0f0f0;
}
.icon1 ul ul li:first-child a:after {
    left: -100px;
    top: 0%;
    margin-top: -6px;
    border-left: 0;	
    border-bottom:20px solid transparent;
    border-top: 20px solid transparent;
    border-right:20px solid #323757;
}
/* Mobile */
.icon1-trigger {
    display: none;
}
.sub-icon1 img{
    border:none;
    display:inline-block;
    vertical-align:middle;
}
.cart_box{
    margin-bottom:1em;
    border-bottom:1px solid #E0E0E0;
    margin-bottom:10px;
    padding-bottom:10px;
}
.list_img{
    float:left;
    width:20%;
    border:1px solid #e0e0e0;
    margin-right:6%;
}
.list_desc{
    float:left;
    width:50%;
}
.list_desc h4 a{
    color:#000 !important;
    font-size:12px !important;
    text-decoration:none;
    font-weight:400;
    text-transform:uppercase;
    padding: 1em 0 !important;
}
span.actual{
    color:#92d3d0;
    font-size:13px;
    font-weight:600;
}
.list_desc h4 a:hover{
    color: #f54d56;
}
.total{
    padding:10px;
    background:#F9F9F9;
    margin: 0.3em 0;
}
.cart_box, .cart_box1{
    position:relative;
}
.alert-close {
    background:#fb5e33 url('../images/close.png') no-repeat 6px 6px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: absolute;
    right:-12px;
    top:5px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.alert-close1 {
    background:#fb5e33 url('../images/close.png') no-repeat 6px 6px;
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: absolute;
    right:-12px;
    top:5px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.total_left{
    float:left;
}
.total_right{
    float:right;
    font-size:0.85em;
    color:#92d3d0;
    font-weight:600;
}
.check_button{
    text-align:center;
}
.check_button a{
    color:#fff;
    font-size:0.8125em;
    text-transform:uppercase;
    font-weight:600;
    text-decoration:none;
    border: none;
    cursor: pointer;
    padding:8px 10px !important; 
    display: inline-block;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #92d3d0;
    margin:10px auto 0;
    width:40%;
}
.check_button a:hover{
    background:#fb5e33;
    color:#fff !important;
}
/*----*/

@media(max-width:1440px){
    
}
@media(max-width:1366px){
    
}
@media(max-width:1280px){
    
}
@media(max-width:1024px){
   
}
@media(max-width:768px){
    .logo {
        width:35%;
    }
    .logo img{
        width:100%;
    }
    .header-in {
        width: 61%;
    }
    .header-in ul li a {
        padding: 1.4em 0.5em;
    }
    .header-can {
        width: 52%;
    }
   
}
@media(max-width:640px){
    .header-in ul li:nth-child(3){
        display:none;
    }
    .logo {
        width: 43%;
    }
    .header-in {
        width: 55%;
    }
    .search {
        width: 42%;
    }
    ul.social-in {
        width: 30%;
    }
    .header-can {
        width: 57%;
    }
    
    
        
}
@media(max-width:480px){
    .logo {
        width: 65%;
        margin: 0 auto;
        float:none;
    }
    .header-in,.header-bottom-in,.banner-matter p{
        display:none;
    }
   
}
@media(max-width:320px){}
    